:root {
	--button-bg-color: #4caf50;
	--button-text-color: #000000;
	--table-row-bg-color: #ffffff;
	--table-row-alt-bg-color: #005700;
	--table-row-text-color: #000000;
	--table-row-alt-text-color: #ffffff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
body {
	margin: 0;
	/* font-family: var(--bs-body-font-family);
	font-size: var(--bs-body-font-size);
	font-weight: var(--bs-body-font-weight);
	line-height: var(--bs-body-line-height);
	color: var(--bs-body-color);
	text-align: var(--bs-body-text-align);
	background-color: var(--bs-body-bg); */
	font-family: bcFont !important;
	color: #211a1a;
	font-size: 0.9em;
	background-color: #fff;
	/* background: url('./modern-mall.png') no-repeat center center fixed; */
	background: url(../../assets/images/inside_office.jpeg);
	background-size: cover;
	height: 100%;
}
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-blend-mode: soft-light, screen;
}
/* //! This is class body not just body. Stop trying to move it up dummy! */
.body {
	margin: 20px;
	display: flex;
	justify-content: center;
}

h3 {
	text-align: center;
}

.header-holder {
	display: flex;
	justify-content: space-around;
}

.styled-table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	min-width: 400px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
	background-color: var(--table-row-alt-bg-color);
	color: var(--table-row-alt-text-color);
	text-align: center;
}

.styled-table th,
.styled-table td {
	padding: 12px 15px;
}

.styled-table tbody tr {
	border-bottom: 1px solid #dddddd;
	background-color: beige;
}

.styled-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}
.styled-table tbody tr:nth-of-type(odd) {
	background-color: #dbdbdb;
}

.styled-table tbody tr:last-of-type {
	border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
	font-weight: bold;
	color: #009879;
}
a:link {
	text-decoration: none;
	color: black;
}
a:link:hover {
	background-color: #ffe53b;
}

.parent {
	display: grid;
	grid-template-columns: 9% 28% 45% 5% 10%;
	grid-template-rows: 75px 1fr 1fr;
	height: 100vh;
}

.div1 {
	display: flex;
	grid-area: 1 / 1 / 3 / 1;
}

.div2 {
	display: flex;
	grid-area: 2 / 2 / 2 / 5;

	scrollbar-gutter: stable;
	background-color: #80808030;
}

.div3 {
	display: flex;
	grid-area: 2 / 3 / 2 / 6;
	height: 100vh;
	scrollbar-gutter: stable;
	padding-left: 20px;
	overflow-y: auto;
	/* border-top: 3px solid #80808050;
	border-left: 3px solid #80808050;
	border-bottom: 3px solid #80808050; */
}

.div4 {
	display: flex;
	grid-area: 1 / 2 / 1 / 5;
}

.div5 {
	overflow-y: auto;
	scrollbar-gutter: stable;
}

.div6 {
	position: relative;
	z-index: 2;
	background-color: #f3f3f3;
	display: flex;
	flex-direction: column;
	grid-area: 2 / 4 / 3 / 7;
	border-top: 1px solid #80808050;
	border-right: 1px solid #80808050;
	border-bottom: 1px solid #80808050;
	box-shadow: 0 0 20px 30px #00000080;
	padding: 5px;
}
.div7 {
	display: flex;
	grid-area: 1 / 5 / 1 / 5;
	margin-left: -100px;
	/* visibility: hidden; */
}
button {
	background-color: var(--button-bg-color);
	color: var(--button-text-color);
	border: solid black 1px;
	padding: 5px;
	font-size: 15px;
	border-radius: 5px;
	margin: 5px;
	cursor: pointer;
}
.approve {
	background-color: #00800050;
	color: #000000;
	padding: 1px;
	border: 1px solid darkgreen;
	border-radius: 3px;
}

.deny {
	background-color: #ff000050;
	color: #000000;
	padding: 1px;
	border: 1px solid darkred;
	border-radius: 3px;
}

.tiny-text {
	font-size: small;

	background-color: #00000090;
	color: #ffffff;
	padding: 5px;
	border-radius: 5px;
}

.receive {
	font-size: small;
	background-color: #6b6b6b;
	color: #ffffff;
	padding: 5px;
	border-radius: 5px;
}

.active-request {
	background-color: #008000 !important;
	color: #ffffff;
	font-weight: bold;
}
::backdrop {
	backdrop-filter: blur(3px);
}

@media print {
	.parent,
	button {
		display: none;
	}

	#po-req {
		margin: 10px;
		border: none;
		width: fit-content;
	}

	.hide-from-printer {
		display: none;
	}
}
