*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-blend-mode: soft-light, screen;
}

.body {
	margin: 20px;
	display: flex;
	justify-content: center;
}

h3 {
	text-align: center;
}

.body {
	display: flex;
	justify-content: center;
}

.header-holder {
	display: flex;
	justify-content: space-around;
}

.styled-table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	min-width: 400px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
	background-color: #1aa260;
	color: #ffffff;
	text-align: center;
}

.styled-table th,
.styled-table td {
	padding: 12px 15px;
}

.styled-table tbody tr {
	border-bottom: 1px solid #dddddd;
	background-color: beige;
}

.styled-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}
.styled-table tbody tr:nth-of-type(odd) {
	background-color: #dbdbdb;
}

.styled-table tbody tr:last-of-type {
	border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
	font-weight: bold;
	color: #009879;
}
a:link {
	text-decoration: none;
	color: black;
}
a:link:hover {
	background-color: #ffe53b;
}

.parent {
	display: grid;
	grid-template-columns: 9% 23% 39% 5% 10%;
	grid-template-rows: 75px 1fr 1fr;
	height: 100vh;
}

.div1 {
	display: flex;
	grid-area: 1 / 1 / 3 / 1;
}

.div2 {
	display: flex;
	grid-area: 2 / 2 / 2 / 5;

	scrollbar-gutter: stable;
	background-color: #80808030;
}

.div3 {
	display: flex;
	grid-area: 2 / 3 / 2 / 6;
	height: 100vh;
	scrollbar-gutter: stable;
	padding-left: 20px;
	overflow-y: auto;
	border-top: 3px solid #80808050;
	border-left: 3px solid #80808050;
	border-bottom: 3px solid #80808050;
}

.div4 {
	display: flex;
	grid-area: 1 / 2 / 1 / 5;
}

.div5 {
	overflow-y: auto;
	scrollbar-gutter: stable;
}

.div6 {
	position: relative;
	z-index: 2;
	background-color: #f3f3f3;
	display: flex;
	flex-direction: column;
	grid-area: 2 / 5 / 3 / 7;
	border-top: 3px solid #80808050;
	border-right: 3px solid #80808050;
	border-bottom: 3px solid #80808050;
	box-shadow: 0 0 20px 30px #00000080;
}
.div7 {
	display: flex;
	grid-area: 1 / 5 / 1 / 5;
	margin-left: -100px;
	/* visibility: hidden; */
}
