:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--primary-rgb: 0, 140, 186;
	--secondary-rgb: 238, 238, 238;
	--success-rgb: 67, 172, 106;
	--info-rgb: 91, 192, 222;
	--warning-rgb: 233, 144, 2;
	--danger-rgb: 240, 65, 36;
	--light-rgb: 238, 238, 238;
	--dark-rgb: 51, 51, 51;
	--primary-text-emphasis: #00384a;
	--secondary-text-emphasis: #5f5f5f;
	--success-text-emphasis: #1b452a;
	--info-text-emphasis: #244d59;
	--warning-text-emphasis: #5d3a01;
	--danger-text-emphasis: #601a0e;
	--light-text-emphasis: #495057;
	--dark-text-emphasis: #495057;
	--primary-bg-subtle: #cce8f1;
	--secondary-bg-subtle: #fcfcfc;
	--berkeley-bg-subtle: #e0e0e0;
	--berkeley-bg-not-subtle: #c7c7c7;
	--success-bg-subtle: #d9eee1;
	--info-bg-subtle: #def2f8;
	--warning-bg-subtle: #fbe9cc;
	--danger-bg-subtle: #fcd9d3;
	--light-bg-subtle: #fcfcfd;
	--dark-bg-subtle: #ccc;
	--primary-border-subtle: #99d1e3;
	--secondary-border-subtle: #f8f8f8;
	--success-border-subtle: #b4dec3;
	--info-border-subtle: #bde6f2;
	--warning-border-subtle: #f6d39a;
	--danger-border-subtle: #f9b3a7;
	--light-border-subtle: #eee;
	--dark-border-subtle: #adb5bd;
	--white-rgb: 255, 255, 255;
	--black-rgb: 0, 0, 0;
	--font-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol';
	--font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
		'Courier New', monospace;
	--gradient: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.15),
		rgba(255, 255, 255, 0)
	);
	--body-font-family: var(--font-sans-serif);
	--body-font-size: 1rem;
	--body-font-weight: 400;
	--body-line-height: 1.5;
	--body-color: #212529;
	--body-bg: #fff;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}

body {
	margin: 0;
	font-family: var(--body-font-family);
	font-size: var(--body-font-size);
	font-weight: var(--body-font-weight);
	line-height: var(--body-line-height);
	color: var(--body-color);
	text-align: var(--body-text-align);
	background-color: var(--body-bg);
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 300;
	line-height: 1.2;
	color: var(--bs-heading-color);
}

h1,
.h1 {
	font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
	h1,
	.h1 {
		font-size: 2.5rem;
	}
}

h2,
.h2 {
	font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
	h2,
	.h2 {
		font-size: 2rem;
	}
}

h3,
.h3 {
	font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
	h3,
	.h3 {
		font-size: 1.75rem;
	}
}

h4,
.h4 {
	font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
	h4,
	.h4 {
		font-size: 1.5rem;
	}
}

h5,
.h5 {
	font-size: 1.25rem;
}

h6,
.h6 {
	font-size: 1rem;
}
p {
	margin-top: 0;
	margin-bottom: 1rem;
}
ol,
ul {
	padding-left: 2rem;
}

ol,
ul,
dl {
	margin-top: 0;
	margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}

dt {
	font-weight: 700;
}

dd {
	margin-bottom: 0.5rem;
	margin-left: 0;
}

blockquote {
	margin: 0 0 1rem;
}

b,
strong {
	font-weight: bolder;
}

small,
.small {
	font-size: 0.875em;
}

mark,
.mark {
	padding: 0.1875em;
	color: var(--bs-highlight-color);
	background-color: var(--bs-highlight-bg);
}
a {
	color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
	text-decoration: underline;
}
a:hover {
	--bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
	color: inherit;
	text-decoration: none;
}
